body {
    background-image: linear-gradient(135deg, #242424 70%, #00FFFF 25%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white
}

#root {
    text-align: center;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Calibri';
}

#root button{
    background-image: linear-gradient(135deg, #30d2da 25%, #8da4e3 70%);
    font-weight: 450;
    border-radius: 10px;
    height: 30px; 
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;   
}
/* 
#root h1 {
background: -webkit-linear-gradient(red, #FFA500);
background-clip: text;
-webkit-text-fill-color: transparent;
} */

#root input[type=text]:disabled {
    background-color: #D3D3D3;
}

#root input {
    border-radius: 10px;
    height: 30px;
    width: 250px;
}