body {
    background-color: #cfe2ff;
}

#root {
    text-align: center;
    font-family: 'Calibri';
}
#root input[type=text]:disabled {
    background-color: #D3D3D3;
}

#root input {
    border-radius: 10px;
    height: 30px;
    width: 250px;
}

#root button {
    margin-left: 15px;
    margin-right: 15px;
    align-self: center;
}